

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  padding-left: 1em;
}

li {
  display: inline;
  padding: 0.5em;
}



.outer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  padding-left: 1em;
}

.inner {
  display: inline;
  padding: 0.5em;
}


.printer {
  border-style: solid;
 border-width: 0.02em;
 /* border-top: 1em; */
 border-color: black;
 padding: 0.5em;
 margin-left: 20em;
 margin-right: 8em;
}


.letters {
  border-style: solid;
  border-width: 0.02em;
  /* border-top: 1em; */
  border-color: black;
  padding: 0.5em;
  margin-left: 2em;
}

.letter-bold {
  border-style: solid;
  border-width: 0.02em;
  font-weight: bold;
  /* border-top: 1em; */
  border-color: black;
  padding: 0.5em;
  margin-left: 2em;
}

.letter-black {
  background-color: black;
  color: white;
  border-style: solid;
  border-width: 0.02em;
  font-weight: bold;
  /* border-top: 1em; */
  border-color: black;
  padding: 0.5em;
  margin-left: 5em;
}